@mixin input {
    height: 40px;
    border: map-get($map: $colors, $key: lightGray) 1px solid;
    border-radius: 7px;
    background: lighten(map-get($colors, whiteLight), 5);
    text-align: right;
    padding-right: 15px;
}

@mixin investForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        width: 550px;
        font-weight: 600;
        margin: 80px 0 50px 0;
    }
    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        &__options {
            display: flex;
            height: 120px;
            &__radioCont {
                margin-top: 20px;
            }
        }
        &__checkbox {
            width: 400px;
            height: 40px;
            padding-top: 9px;
            input {
                cursor: pointer;
            }
        }
        &__inputs {
            display: flex;
            justify-content: space-between;
            margin: 0 30px;
            width: 550px;
            margin-bottom: 18px;
            input[type=number] {
                @include input;
            }
            label {
                @include label;
                cursor: pointer;
            }
            &__noMargin {
                margin: 0 0;
            }
            &__yearly {
                padding-right: 15px;
            }
        }
    }
    @include forTablet {
        h3 {
            width: 290px;
            margin: 50px 0 30px;
            font-size: 1.2em;
        }
        &__row {
            &__inputs {
                width: 290px;
                flex-direction: column;
            }
        }
    }
}

@mixin label {
    font-size: 1em;
    padding-top: 15px;
}

@mixin sectionRentImmo {
    width: 1250px;
    z-index: 10;
    background: #fff;
    border-radius: 40px;
    padding: 35px 50px 50px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.185);
    @include forDesktop {
        width: 700px;
    }
    @include forTablet {
        width: 320px;
        padding: 25px 20px 25px;
    }
}

@mixin legalTexts {
    background: map-get($colors, whiteLight);
    &__title {
        margin: 80px 0 110px;
        font-size: 3.2em;
        color: orange;
        text-shadow: 2px 2px 12px black
    }
    &__section {
        @include sectionRentImmo;
        margin-bottom: 80px;
        padding-bottom: 70px;
        h2 {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.7em;
            margin: 35px 0 90px;
            text-align: center;
        }
        h3 {
            font-weight: 500;
            text-transform: uppercase;
            font-size: 1.25em;
            margin: 60px 0 25px;
        }
        p {
            line-height: 1.4;
            letter-spacing: 0.7px;
        }
        &__marginTop {
            margin-top: 12px;
        }
    }
    @include forTablet {
        &__title {
            margin: 50px 0 60px;
        }
    }
}

@mixin btn {
    padding: 8px 15px;
    border: none;
    background: map-get($map: $colors, $key: orangeLight);
    border-radius: 6px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 70px;
    transition: opacity 200ms ease-in-out;
    &:hover {
        opacity: 0.8;
        transition: opacity 200ms ease-in-out;
    }
    @include forTablet {
        padding: 20px 18px;
    }
}

@mixin error {
    width: 900px;
    p {
        font-size: 0.85em;
        line-height: 1.5;
        color: rgb(211, 0, 0);
        &:last-child {
            margin-bottom: 40px;
        }
    }
    @include forDesktop {
        width: 600px;
    }
    @include forTablet {
        width: 290px;
        font-size: 1em;
    }
}

@mixin forDesktop {
    @media screen and (max-width: map-get($queries, desktop)) {
        @content;
    }
}

@mixin forTablet {
    @media screen and (max-width: map-get($queries, tablet)) {
        @content;
    }
}