.calculRenta {
    @include sectionRentImmo;
    margin: -300px 0 20px 0;
    h2 {
        font-size: 1.8em;
        font-weight: 600;
        text-align: center;
    }
    &__spent, &__rent {
        @include investForm;
    }
    &__separator {
        border-bottom: 1px solid rgba(0, 0, 0, 0.171);
        width: 550px;
        margin-top: 40px;
    }
    &__btn {
        @include btn;
    }
    &__errorCont {
        @include error;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            width: 550px;
            line-height: 1.5;
            &:first-child {
                margin-top: 70px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.bgTop {
    z-index: -10;
    position: fixed;
    top: 0;left: 0;
    object-fit: cover;
    width: 100%;
    height: 650px;
}

.titleTop {
    z-index: -10;
    position: fixed;
    top: 130px;left: 0;
    object-fit: cover;
    width: 100%;
    text-align: center;
    font-size: 4.2em;
    color: orange;
    text-shadow: 10px 7px 10px black;
}

.calculRentaMain {
    z-index: 10;
    margin-top: 650px;
}

#checkboxLabel {
    margin-left: 3px;
    padding-top: 11px;
}

#allCheckLabel {
    margin-left: 3px;
    padding-top: 11px;
    font-weight: 600;
    font-style: italic;
}

.resultRenta {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include sectionRentImmo;
    margin-bottom: 50px;
    &__resultCont {
        width: 550px;
        display: flex;
        justify-content: space-between;
        margin: 20px;
        h3 {
            font-weight: 600;
            font-size: 1.1em;
        }
        &__result {
            font-size: 3em;
            font-weight: 700;
        }
    }
}