.calculRenta {
    width: 1250px;
    z-index: 10;
    background: #fff;
    margin: -300px 0 50px 0;
    border-radius: 40px;
    padding: 35px 50px 50px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.185);
    h2 {
        font-size: 1.8em;
        font-weight: 600;
        text-align: center;
    }
    &__spent, &__rent {
        @include investForm;
    }
    &__separator {
        border-bottom: 1px solid rgba(0, 0, 0, 0.171);
        width: 550px;
        margin-top: 40px;
    }
    &__btn {
        padding: 8px 15px;
        border: none;
        background: map-get($map: $colors, $key: orangeLight);
        border-radius: 6px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        margin-top: 70px;
    }
}

.bgTop {
    z-index: -10;
    position: fixed;
    top: 0;left: 0;
    object-fit: cover;
    width: 100%;
    height: 650px;
}

.calculRentaMain {
    z-index: 10;
    margin-top: 650px;
}

#checkboxLabel {
    margin-left: 3px;
    padding-top: 11px;
}

#allCheckLabel {
    margin-left: 3px;
    padding-top: 11px;
    font-weight: 600;
    font-style: italic;
}