.contact {
    @include legalTexts;
    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__inputCont {
            display: flex;
            flex-direction: column;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 900px;
            input {
                height: 40px;
                margin-bottom: 30px;
                padding-left: 15px;
            }
            textarea {
                resize: vertical;
                padding: 10px 15px;
                height: 300px;
            }
        }
        &__infosForm {
            display: flex;
            justify-content: space-between;
            &__name, &__mail {
                width: 430px;
            }
        }
        &__btnCont {
            display: flex;
            justify-content: center;
            &__btn {
                @include btn;
            }
        }
        label {
            margin-bottom: 4px;
        }
        &__errorCont {
            width: 900px;
            p {
                font-size: 0.85em;
                line-height: 1.5;
                color: rgb(211, 0, 0);
                &:last-child {
                    margin-bottom: 40px;
                }
            }
        }
        &__sendCont {
            width: 900px;
            p {
                text-align: center;
                font-weight: 500;
                color: rgb(2, 80, 2);
                margin-bottom: 90px;
                font-size: 1.7em;
            }
        }
    }
}