/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Galada&family=Roboto:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/* remove arrow to input:number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, .footer__title {
  font-family: "Galada", cursive;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ebebeb;
}

footer {
  display: flex;
  justify-content: center;
  background: #e99a07;
  width: 100%;
  padding: 100px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 1250px;
}
.footer__title {
  font-size: 3em;
  text-shadow: 5px 2px 20px rgba(0, 0, 0, 0.548);
}
.footer__lists__infos {
  display: flex;
  flex-direction: column;
}
.footer__lists__infos h3 {
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 15px;
}
.footer__lists__infos p {
  line-height: 1.4;
}
.footer__lists__infos p::first-letter {
  text-transform: uppercase;
}

.calculRenta {
  width: 1250px;
  z-index: 10;
  background: #fff;
  border-radius: 40px;
  padding: 35px 50px 50px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.185);
  margin: -300px 0 20px 0;
}
.calculRenta h2 {
  font-size: 1.8em;
  font-weight: 600;
  text-align: center;
}
.calculRenta__spent, .calculRenta__rent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calculRenta__spent h3, .calculRenta__rent h3 {
  width: 550px;
  font-weight: 600;
  margin: 80px 0 50px 0;
}
.calculRenta__spent__row, .calculRenta__rent__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.calculRenta__spent__row__options, .calculRenta__rent__row__options {
  display: flex;
  height: 120px;
}
.calculRenta__spent__row__options__radioCont, .calculRenta__rent__row__options__radioCont {
  margin-top: 20px;
}
.calculRenta__spent__row__checkbox, .calculRenta__rent__row__checkbox {
  display: flex;
  width: 400px;
  height: 40px;
}
.calculRenta__spent__row__checkbox input, .calculRenta__rent__row__checkbox input {
  cursor: pointer;
}
.calculRenta__spent__row__inputs, .calculRenta__rent__row__inputs {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  width: 550px;
  margin-bottom: 18px;
}
.calculRenta__spent__row__inputs input[type=number], .calculRenta__rent__row__inputs input[type=number] {
  height: 40px;
  border: #8585855b 1px solid;
  border-radius: 7px;
  background: #f8f8f8;
  text-align: right;
  padding-right: 15px;
}
.calculRenta__spent__row__inputs label, .calculRenta__rent__row__inputs label {
  font-size: 1em;
  padding-top: 15px;
  cursor: pointer;
}
.calculRenta__spent__row__inputs__noMargin, .calculRenta__rent__row__inputs__noMargin {
  margin: 0 0;
}
.calculRenta__spent__row__inputs__yearly, .calculRenta__rent__row__inputs__yearly {
  padding-right: 15px;
}
.calculRenta__separator {
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  width: 550px;
  margin-top: 40px;
}
.calculRenta__btn {
  padding: 8px 15px;
  border: none;
  background: #e99a07;
  border-radius: 6px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 70px;
}

.bgTop {
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 650px;
}

.titleTop {
  z-index: -10;
  position: fixed;
  top: 130px;
  left: 0;
  object-fit: cover;
  width: 100%;
  text-align: center;
  font-size: 4.2em;
  color: orange;
  text-shadow: 10px 7px 10px black;
}

.calculRentaMain {
  z-index: 10;
  margin-top: 650px;
}

#checkboxLabel {
  margin-left: 3px;
  padding-top: 11px;
}

#allCheckLabel {
  margin-left: 3px;
  padding-top: 11px;
  font-weight: 600;
  font-style: italic;
}

.resultRenta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1250px;
  z-index: 10;
  background: #fff;
  border-radius: 40px;
  padding: 35px 50px 50px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.185);
  margin-bottom: 50px;
}
.resultRenta__resultCont {
  width: 550px;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.resultRenta__resultCont h3 {
  font-weight: 600;
  font-size: 1.1em;
}
.resultRenta__resultCont__result {
  font-size: 3em;
  font-weight: 700;
}

.legals {
  background: #ebebeb;
}
.legals__title {
  margin: 80px 0 110px;
  font-size: 3.2em;
  color: orange;
  text-shadow: 2px 2px 12px black;
}
.legals__section {
  width: 1250px;
  z-index: 10;
  background: #fff;
  border-radius: 40px;
  padding: 35px 50px 50px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.185);
  margin-bottom: 50px;
}
.legals__section h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.7em;
  margin: 35px 0 90px;
  text-align: center;
}
.legals__section h3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.25em;
  margin: 40px 0 10px;
}
.legals__section p {
  line-height: 1.4;
  letter-spacing: 0.7px;
}
.legals__section__p {
  margin-top: 12px;
}

/*# sourceMappingURL=style.css.map */
