footer {
    display: flex;
    justify-content: center;
    background: map-get($colors, orangeLight);
    width: 100%;
    padding: 100px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 1250px;
    &__title {
        font-size: 3em;
        text-shadow: 5px 2px 20px rgba(0, 0, 0, 0.548);
    }
    &__lists {
        &__infos {
            display: flex;
            flex-direction: column;
            h3 {
                font-size: 1.3em;
                font-weight: 500;
                margin-bottom: 15px;
            }
            p {
                line-height: 1.4;
                transition: opacity 200ms ease-in-out;
                &::first-letter{
                    text-transform: uppercase;
                }
                &:hover {
                    opacity: 0.7;
                    transition: opacity 200ms ease-in-out;
                }
            }
        }
    }
    @include forDesktop {
        width: 700px;
        &__lists {
            &__infos {
                p {
                    line-height: 1.8;
                }
            }
        }
    }
    @include forTablet {
        width: 290px;
        flex-direction: column;
        align-items: center;
        &__title {
            margin-bottom: 50px;
        }
        &__lists {
            text-align: center;
            &__infos {
                h3 {
                    margin-bottom: 50px;
                    visibility: hidden;
                }
                p {
                    font-size: 1.5em;
                    color: rgb(8, 8, 158);
                    margin-bottom: 50px;
                    line-height: 1.1;
                }
            }
        }
    }
}